html, body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Mohave;
    src: url(../fonts/Mohave.otf);
}

p{
    font-family: Mohave;
}

a {
    text-decoration: none;
    color: white;
}

.row, .col {
    overflow: auto;
    position: absolute;
}

.row {
    left: 0;
    right: 0;
}

.header.row {
    height: 80px;
    top: 0;
    background-color: #667A61;
    color: white;
    overflow: hidden;
}

.body.row {
    top: 30px;
    bottom: 0px;
}

.left.col {
    width: 150px;
    height: 100%;
    background-color: #2D5445;
}

.right.col {
    top: 80px;
    left: 0px;
    right: 0;
    background-color: #565952;
    width: auto;
    height: calc(100% - 105px);
    padding-top: 25px;
}

.profile-pic{
    margin: 5px 10px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-image: url("../img/user.jpg");
    background-size: cover;
    float: left;
}

.header h2 {
    float: right;
    line-height: 80px;
    margin-right: 80px;
}

.left.col p{
    text-align: center;;
}

.friend-activity{
    float: left;
    height: 880px;
    width: 610px;
    background-color: #444443;
    color: white;
    text-align: center;
}

.activity-nav {
    height:30px;
    line-height: 30px;
    font-family: Helvetica;
}

.activity-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    }

.activity-nav ul li{
    display: inline;
    padding: 20px;
    }

#title {
    display: block;
    height: 40px;
    background-color: rgba(0,0,0,0.3);
    line-height: 40px;
    vertical-align: middle;
    font-family: Helvetica;
    font-size: 20px;
}

.latest-movies{
    float: right;
    height: 880px;
    width: 410px;
    background-color: #444443;
    color: white;
    text-align: center;
}

.fmovies-cont{
    width: 100%;
    max-height: 799px;
    overflow: overlay;
}
.fmovies-table {
    width: 100%;
}

.fmovies-row {
    height: 400px;
    display: block;
    margin: 10px;
    
}

.fmovies30 {
    position: relative;
    height: 390px;
    width: 190px;
}

.fmovies60 {
    position: relative;
    height: 390px;
    width: 390px;
}

.movie1{
    background-image: url("../img/fear_loathing_poster.jpg");
    background-size: cover;
}

.movie2{
    background-image: url("../img/New_Kids_Nitro_big.jpg");
    background-size: cover;
}
.movie3{
    background-image: url("../img/pi_poster.jpg");
    background-size: cover;
}

.movie4{
    background-image: url("../img/dumb_poster.jpg");
    background-size: cover;
    background-position: center;
}

.movie5{
    background-image: url("../img/naked_gun_poster.jpg");
    background-size: cover;
}

.movie6{
    background-image: url("../img/dog_poster.jpg");
    background-size: cover;
}

.fmovieshor {
    height: 190px;
    overflow: hidden;
    position: inherit;
}

.fmoviever {
    height: 390px;
    overflow: hidden;
    
}

.floatleft
{
    float: left;
}

.floatright{
    float: right;
}

.moviehortop{
    margin-bottom: 10px
}

.moviehorbot{

}

.movieverleft{
margin-right: 10px;
}

.movieverright{
margin-left: 10px;
}

.vertical-like-overlay{
    width: 0;
    height: 0;
    border-top: 100px solid rgba(54, 153, 54, 0.7);
    border-right: 110px solid transparent;
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,.45));
    -webkit-filter: drop-shadow(4px 5px 3px rgba(0,0,0,.45));
}

.vertical-hate-overlay{
    width: 0;
    height: 0;
    border-top: 100px solid rgba(155, 50, 50, 0.7);
    border-right: 110px solid transparent;
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,.45));
    -webkit-filter: drop-shadow(4px 5px 3px rgba(0,0,0,.45));
}

.horiz-like-overlay{
    width: 0px;
    height: 0px;
    border-top: 100px solid rgba(54, 153, 54, 0.7);
    border-right: 110px solid transparent;
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,.45));
    -webkit-filter: drop-shadow(4px 5px 3px rgba(0,0,0,.45));
}

.fmoviever p{
    height: 120px;
    padding-top: 80px;
}

.horiz-hate-overlay{
    width: 0px;
    height: 0px;
    border-top: 100px solid rgba(255, 0, 0, 0.6);
    border-right: 110px solid transparent;
    filter: drop-shadow(10px 5px 5px rgba(0,0,0,.45));
    -webkit-filter: drop-shadow(4px 5px 3px rgba(0,0,0,.45));
}

.movie1 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

.movie2 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

.movie3 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

.movie4 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

.movie5 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

.movie6 .user-activity{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url("../img/austin-carr-profile.jpg");
    background-size: cover;
    float: left;
    position: absolute;
    top: 5px;
    left: 5px;
}

@-moz-document url-prefix() {
    .movie1 .user-activity{
    top: -95px;
}

.movie2 .user-activity{
    top: -95px;
}

.movie3 .user-activity{
    top: -95px;
}

.movie4 .user-activity{
    top: -95px;
}

.movie5 .user-activity{
    top: -95px;
}

.movie6 .user-activity{
    top: -95px;
}
}

.triangle-topleft {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 100px solid transparent;
}

.latest-movies-content{
    position: relative;
    width: 410px;
    height: 840px;
}

.right-col-wraper{
    width: 1100px;
    height: 880px;
}

.latest-movies-table{
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    height: 100%;
    padding-top: 30px;
}


.right-col-wraper{
    width: 1100px;
    height: 880px;
    margin: auto;
}

.latest-movies-table{
    border-collapse: separate;
    border-spacing: 10px;
    width: 100%;
    height: 100%;
}

td{
    position: relative;
}

.latest-1{
    background-image: url("../img/trainspotting_latest.jpg");
    background-size: cover;
}


.latest-2{
    background-image: url("../img/zoolander_latest.jpg");
    background-size: cover;
}

.latest-3{
    background-image: url("../img/New_Kids_turbo_latest.jpg");
    background-size: cover;
}

.latest-4{
    background-image: url("../img/bourne_ultimatum_latest.jpg");
    background-size: cover;
}

.latest-5{
    background-image: url("../img/ex-machina_latest.jpg");
    background-size: cover;
}

.movie-title-like{
    position: absolute;
    width: 190px;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(54, 153, 54, 0.7);
    line-height: 80px;
    font-size: 22px;
}

.movie-title-hate{
    position: absolute;
    width: 190px;
    height: 80px;
    left: 0px;
    bottom: 0px;
    background-color: rgba(155, 50, 50, 0.7);
    line-height: 90px;
    font-size: 22px;
}

#overlay-hor{
    position: absolute;
    height: 110px;
    width: 310px;
    background: rgba(0,0,0,.75);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .45s ease;
    -moz-transition: opacity .45s ease;
    box-shadow: none;
    padding: 40px;
    line-height: 70px;
    font-size: 30px;
    margin-top: -100px;
}

.fmovieshor:hover #overlay-hor{
    opacity: 1;
}

#overlay{
    position: absolute;
    height: 350px;
    width: 150px;
    background: rgba(0,0,0,.75);
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity .45s ease;
    -moz-transition: opacity .45s ease;
    box-shadow: none;
    padding: 20px;
    font-size: 30px;
    margin-top: -100px;
}

.fmoviever:hover #overlay{
    opacity: 1;
}

.add_watchlist {
    display: inline-block;
    width: calc(50% - 10px);
    height: 50px;
    background-image: url("../img/watchlist.png") ;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: 100%; 
    margin-right: 10px;
    float: left;
}

.add_to_movies {
    display: inline-block;
    width: 50%;
    height: 50px;
    background-image: url("../img/add-to-movies.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    float: right;
}


/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(34,47,58,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(34,47,58,0.4); 
}

/*End of Scroll Bar*/


.latest-add {
    background-color: black;
    background-image: url("../img/add_icon.png");
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}

.right-col-wraper:after {
    content:"";
    display: table;
    clear: both;
    }

@media screen and (max-width: 1160px) {
    .friend-activity{
        float: none;
        width: 610px;
        margin: auto;
    }

    .latest-movies {
        float: none;
        width: 410px;
        margin: 40px auto 0 auto;
    }

    .right-col-wraper {
        width: 100%;
        height: auto;
    }
}

/* Style Movie Add */

.add_movie_content{
    position: relative;
    width: 410px;
    height: 840px;
    background-image: url("../img/boyhood_poster.jpg");
    background-size: cover;
}

.add_movie_overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 410px;
    height: 840px;
    font-size: 50px;
}

.add_movie_overlay p{
    width: 410px;
    height: 400px;
    line-height: 400px;
}

.add_movie_overlay .submit{
    width: 205px;
    height: 400px;
    float: left;
}

.add_movie_overlay .discard{
    width: 205px;
    height: 400px;
    float: right;
}

.add_movie_overlay img{
    width: 80px;
    height: 80px;
    margin-top: 150px;
}

/* End of Style Movie Add */


/* Style Movie Description */

.movie-poster {
    height: 405px;
    width: 300px;
    overflow: hidden;
}

.movie-summary {
    position: relative;
    width: 280px;
}

.movie-bottom {
    position: absolute;
    top: 520px;
}

.movie-main-content p {
    font-family: Arial;
    text-align: left;
}

.movie-actors-content img {
    height: 94px;
}

.movie-actors-content {
    text-align: left;
}

.movie-bottom h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.movie-summary h2 {
    font-family: Mohave;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 5px;
    font-weight: bold;
}

.movie-main-content p {
    padding-bottom: 10px;
}

.movie-friends {
    text-align: left;
}

.movie-friends img {
    height: 40px;
}

.movie-friends-hated {
    float: right;
    width: 50%;
}

.movie-friends-liked {
    float: left;
    width: 50%;
}

.movies-friends-row {
    height: 100px;
    display: block;
}


.screenings {
    width: 280px;
    height: 78px;
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.screenings:hover {
    background-color:#6c7c7c;
}


/* End of Style Movie Description */